@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url("../../node_modules/@egjs/vue3-flicking/dist/flicking.css");

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

#app {
  min-height: 100vh;
}

.navbar {
  background: rgba(255, 255, 255, 0) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
}
